
@{
    ViewData["Title"] = "AdminMenu";
}

<h1>AdminMenu</h1>
<h4>
    <p><a href="/Users">See Users</a></p>
    <p><a href="/Courses">See Courses</a></p>
    <p><a href="/UserCourses">See User and Courses</a></p>
</h4>
